kafka:
  clusters:
    - name: local-kafka
      bootstrapServers: kafka:9092

auth:
  type: OAUTH2
  oauth2:
    client:
      keycloak:
        clientId: kafka-ui
        clientSecret: "${kafka_ui_secret}"
        scope: openid
        client-name: Keycloak
        provider: keycloak
        redirect-uri: "http://${public_ip}:8080/login/oauth2/code/keycloak"
        authorization-grant-type: authorization_code

        # Front-channel: the user's browser can reach this public address.
        authorization-uri: "http://${public_ip}:8081/realms/kafka-ui/protocol/openid-connect/auth"

        # Back-channel: Kafka UI reaches Keycloak over the private Docker network.
        token-uri: "http://keycloak:8080/realms/kafka-ui/protocol/openid-connect/token"
        jwk-set-uri: "http://keycloak:8080/realms/kafka-ui/protocol/openid-connect/certs"
        user-info-uri: "http://keycloak:8080/realms/kafka-ui/protocol/openid-connect/userinfo"

        user-name-attribute: preferred_username
        custom-params:
          type: oauth
