kafka:
  clusters:
    - name: local-kafka
      bootstrapServers: kafka:9092

auth:
  type: OAUTH2
  oauth2:
    client:
      keycloak:
        clientId: kafka-ui
        clientSecret: "${kafka_ui_secret}"
        scope: openid
        client-name: Keycloak
        provider: keycloak
        redirect-uri: "http://${kafka_public_ip}:8080/login/oauth2/code/keycloak"
        authorization-grant-type: authorization_code

        # Browser/front-channel address.
        authorization-uri: "http://${keycloak_public_ip}:8081/realms/kafka-ui/protocol/openid-connect/auth"

        # Server/back-channel addresses. These stay inside the VPC.
        token-uri: "http://${keycloak_private_ip}:8081/realms/kafka-ui/protocol/openid-connect/token"
        jwk-set-uri: "http://${keycloak_private_ip}:8081/realms/kafka-ui/protocol/openid-connect/certs"
        user-info-uri: "http://${keycloak_private_ip}:8081/realms/kafka-ui/protocol/openid-connect/userinfo"

        user-name-attribute: preferred_username
        custom-params:
          type: oauth
